body {
    margin:0;
    width:200px;
    font-size:12px;
}
ul {
    margin:0;
    padding:0;
}
li {
    list-style:none;
    float:left;
}
p {
    margin:0;
}
a {
    text-decoration:none;
    color:#666;
}
a:hover {
    color:#d14836;
}
.cf {
    zoom:1;
}
.cf:after {
    content:'';
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
.nav {
    height:30px;
}
.nav a {
    outline:0;
    display:block;
    width:100px;
    color:#FFF;
    background:#34495e;
    font-size:14px;
    line-height:30px;
    text-align:center;
}
.nav a:hover {
    background:#415C76;
}
.nav .active {
    background:#FFF;
    color:#34495e;
}
.nav .active:hover {
    background:#FFF;
}
.settings {
    padding:5px 0;
}
.settings p {
    width:160px;
    padding:0 20px 0 10px;
    line-height:18px;
}
.settings li {
    padding:5px 0;
    position:relative;
    word-break:break-all;
}
.settings li + li {
    border-top:1px dashed #ecf0f1;
}
.settings input {
    position:absolute;
    right:-6px;
    top:12px;
    height:14px;
    width:14px;
}
.whitelist {
    padding:5px;
}
.whitelist-add {
    color:#999;
    line-height:24px;
}
.whitelist-add input {
    width:150px;
    float:left;
    height:16px;
    outline:0;
    margin:0;
    padding:2px;
    margin:0;
}
.whitelist-add a {
    float:right;
}
.whitelist-content li {
    margin:5px 0;
    width:100%;
}
.whitelist-content p {
    word-break:break-all;
    float:left;
    width:150px;
}
.whitelist-content a {
    display:none;
    float:right;
}
.whitelist-content li:hover a {
    display:block;
}
